---
- name: Create resource group if doesn't exist
  azure_rm_resourcegroup:
    name: "{{ azure_resource_group }}"
    location: "{{ azure_location }}"

- name: Create virtual network
  azure_rm_virtualnetwork:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_virtual_network_name }}"
    address_prefixes: "10.0.0.0/16"

- name: Add subnet
  azure_rm_subnet:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_subnet_name }}"
    address_prefix: "10.0.1.0/24"
    virtual_network: "{{ azure_virtual_network_name }}"

- name: Create public IP address
  azure_rm_publicipaddress:
    resource_group: "{{ azure_resource_group }}"
    allocation_method: Static
    name: "{{ azure_ip_name }}"

- name: Create Network Security Group
  azure_rm_securitygroup:
    resource_group: "{{ azure_resource_group }}"
    name: networkSecurityGroup
    rules:
        - name: 'allow_ssh_traffic'
          protocol: Tcp
          destination_port_range: "22"
          access: Allow
          priority: 1001
          direction: Inbound
        - name: 'allow_web_traffic'
          protocol: Tcp
          destination_port_range: "{{ expose_port }}"
          access: Allow
          priority: 1002
          direction: Inbound
        - name: 'allow_postgres_traffic'
          protocol: Tcp
          destination_port_range: "{{ pg_postgres_port }}"
          access: Allow
          priority: 1003
          direction: Inbound
        - name: 'allow_pgadmin_traffic'
          protocol: Tcp
          destination_port_range: "{{ pgadmin_listen_port }}"
          access: Allow
          priority: 1004
          direction: Inbound
        - name: 'allow_grafana_traffic'
          protocol: Tcp
          destination_port_range: "{{ grafana_port }}"
          access: Allow
          priority: 1005
          direction: Inbound

- name: Create virtual network interface cards for vm
  azure_rm_networkinterface:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_network_interface_name }}"
    virtual_network: "{{ azure_virtual_network_name }}"
    security_group: networkSecurityGroup
    subnet: "{{ azure_subnet_name }}"
    ip_configurations:
      - name: ipconfig1
        public_ip_address_name: "{{ azure_ip_name }}"
        primary: True

- name: Create VM
  azure_rm_virtualmachine:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_source_vm_name }}"
    admin_username: azureuser
    admin_password: "{{ azure_vm_admin_password }}"
    vm_size: Standard_B2s
    os_disk_size_gb: 100
    network_interfaces: "{{ azure_network_interface_name }}"
    image:
      offer: RHEL
      publisher: RedHat
      sku: "8_3"
      version: latest