---
- name: Create resource group if doesn't exist
  azure_rm_resourcegroup:
    name: "{{ azure_resource_group }}"
    location: "{{ azure_location }}"

- name: Create virtual network
  azure_rm_virtualnetwork:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_virtual_network_name }}"
    address_prefixes: "10.0.0.0/16"

- name: Add subnet
  azure_rm_subnet:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_subnet_name }}"
    address_prefix: "10.0.1.0/24"
    virtual_network: "{{ azure_virtual_network_name }}"

- name: Create public IP address
  azure_rm_publicipaddress:
    resource_group: "{{ azure_resource_group }}"
    allocation_method: Static
    name: "{{ azure_ip_name }}"

- name: Create virtual network interface cards for vm
  azure_rm_networkinterface:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_network_interface_name }}"
    virtual_network: "{{ azure_virtual_network_name }}"
    subnet: "{{ azure_subnet_name }}"
    ip_configurations:
      - name: ipconfig1
        public_ip_address_name: "{{ azure_ip_name }}"
        primary: True

- name: Create Azure Firewall
  azure_rm_azurefirewall:
    resource_group: "{{ azure_resource_group }}"
    name: quarkuscoffeeshop-majestic-monolith-firewall
    tags:
      key1: quarkuscoffeeshop-majestic-monolith-firewall
    application_rule_collections:
      - priority: 110
        action:
          type: allow
        rules:
          - name: rule1
            description: Allow inbound rule
            protocols:
              - type: http
                port: '8080'
        name: apprulecoll
    nat_rule_collections:
    network_rule_collections:
    ip_configurations:

- name: Create VM
  azure_rm_virtualmachine:
    resource_group: "{{ azure_resource_group }}"
    name: "{{ azure_source_vm_name }}"
    admin_username: azureuser
    admin_password: "{{ azure_vm_admin_password }}"
    vm_size: Standard_B2s
    os_disk_size_gb: 100
    network_interfaces: "{{ azure_network_interface_name }}"
    image:
      offer: RHEL
      publisher: RedHat
      sku: "8_3"
      version: latest