#- name: ensure system is registered to Red Hat
#  include_role:
#    name: swygue-redhat-subscription
#  tags:
#  - register

- name: Install the latest version of  packages needed for dev enviornment
  ansible.builtin.package:
    name:
      - buildah
      - skopeo
      - podman
      - slirp4netns
      - pcp-zeroconf
      - pcp
      - wget
      - vim
      - git
      - curl
    state: latest
  become: yes
  tags:
  - install_packages
  - deploy  

- name: set up rootless containers
  ansible.posix.sysctl:
    name: user.max_user_namespaces
    value: '28633'
    sysctl_file: /etc/sysctl.d/userns.conf
    reload: yes
  become: yes

- name: Create a podman network
  containers.podman.podman_network:
    name: "{{ network_name }}"
    ip_range: "{{ podman_ip_range }}"
    subnet: "{{ podman_subnet }}"
    gateway: "{{ podman_gateway }}"
  become: yes

- name: permit traffic in default zone for postgres
  ansible.posix.firewalld:
    port: "{{ pg_postgres_port }}/tcp"
    permanent: yes
    state: enabled
  become: yes
  tags:
  - configure_firewall_rules
  - deploy

- name: permit traffic in default zone for pgadmin
  ansible.posix.firewalld:
    port: "{{ pgadmin_listen_port }}/tcp"
    permanent: yes
    state: enabled
  become: yes
  tags:
  - configure_firewall_rules
  - deploy

- name: permit traffic in default zone for application
  ansible.posix.firewalld:
    port: "{{ expose_port }}/tcp"
    permanent: yes
    state: enabled
  become: yes
  tags:
  - configure_firewall_rules
  - deploy

- name: reload service firewalld
  systemd:
    name: firewalld
    state: reloaded
  become: yes
  tags:
  - configure_firewall_rules
  - deploy

- name: Git checkout
  ansible.builtin.git:
    repo: 'https://github.com/tosin2013/rhel-edge-application-collection.git'
    dest: "/home/{{ remote_username }}/rhel-edge-application-collection"
  tags:
  - deploy
