---
# tasks file for quarkuscoffeeshop-majestic-monolith
- name:  Configure Dev Enviornment
  import_tasks: configure-dev-enviornment.yml
  tags:
  - configure_dev_enviornment
  - deploy

- name: deploy application
  import_tasks: deploy_appication.yml
  tags:
  - deploy_application
  - deploy

- name: remove application
  import_tasks: remove_application.yaml
  tags:
  - remove_application