---
- set_fact:
    mount: "{{ ansible_mounts | first }}"
                                                                                                                        
- set_fact: disk_usage="{{ mount.size_total - mount.size_available }}"
- set_fact: disk_usage_ratio="{{ disk_usage|float / mount.size_total }}"
- set_fact: disk_usage_s="{{ (disk_usage|float / 1000000000) | round(1, 'common') }}GB"
- set_fact: disk_total_s="{{ (mount.size_total / 1000000000) | round(1, 'common') }}"
- set_fact: disk_usage_ratio_s="{{ 100 * (disk_usage_ratio|float) | round(1, 'common') }}%"

- name: DEBUG  disk size
  debug:
    msg: Disk is smaller than 30G
  when:  "{{ disk_total_s  }} <= 30"

- name: Extend the logical volume by given space
  community.general.lvol:
    vg: rootvg
    lv: /dev/mapper/rootvg-homelv
    size: 80%VG
  become: yes
  when:  "{{ disk_total_s  }} <= 30"

#- name: Resize disk
#  ansible.builtin.command:  lvresize -r -L +50G /dev/mapper/rootvg-homelv
# become: yes
#  when:  "{{ disk_total_s  }} <= 30"
  